<div>
  <div>
  </div>
</div>

<div class="mt-5 p-4 bg-dark text-white text-center" style="position:fixed;bottom:0;left:0;right:0;height:95px;">
  <p>Footer</p>
  <p>Template provided by <a href="https://www.w3schools.com/bootstrap5/trybs_template1.htm">w3schools</a></p>
</div>

</body>
</html>
