<%- include('../partials/header') %>
      <h2><%=title%></h2>
  	
  	<h3 class="mt-4">More about me!</h3>
  	<p>Click on the links below</p>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link" href="https://github.com/IriniBahnam">GitHub</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://www.linkedin.com/in/irini-bahnam-22b21522b/">LinkedIn</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://irinibahnam.github.io/portal-IT115/">Portfolio</a>
    	</li>
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>Software Developer</h2>
  	
  	<div class="fakeimg">
      <img src="https://exaud.com/wp-content/uploads/2020/09/software-skills.png" style="height: 200px; width: 300px; border-radius: 30%; ">
    </div>
  	<h6 style="height: 20px; width: 400px;  text-align: left; ">Skills: • Microsoft Office • Salesforce • Data Analysis • Quality Assurance • Software Testing & Troubleshooting • HTML/CSS • JavaScript • Excel • Project Coordination • Customer Service • Business Communication • Visual Studio Code • Java • SQL</h6>

  