<%- include('../partials/header') %>
      <h2><%=title%></h2>
<!--   	<h5>Photo of me:</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p>Some text about me in culpa qui officia deserunt mollit anim..</p> -->
  	<h3 class="mt-4">Technical Topics</h3>
  	<p>Below I input some technical topics that are of interest to me</p>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link" href="https://www.finextra.com/blogposting/22349/watch-out-latest-java-technology-trends-for-2022">Java</a>
    	</li>
      	<li class="nav-item">
      	<a class="nav-link" href="https://www.bairesdev.com/blog/why-react-is-so-popular/">React</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://www.invisionapp.com/defined/web-design-and-development">Web Design</a>
    	</li>
    
    	<li class="nav-item">
      	<a class="nav-link" href="https://www.geeksforgeeks.org/why-you-should-become-a-self-taught-programmer/#:~:text=Self%2Dtaught%20Programming%20helps%20you,it%20out%20on%20your%20own.">Self-taught Programming</a>
    	</li>
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>Get To Know Me</h2>
  
  	<div class="fakeimg"> <img src="myPic.jpg" style="height: 225px; width: 300px; border-radius: 40%; display: flex; justify-content: center; "></div>
  	<br>

    
  	<p style="height: 20px; width: 400px;  text-align: left; ">I am an aspiring Software Developer. I fell in love with learning to code this year and haven't looked back since. I received my Web Design certification in March of 2022. I have also taken classes in Java, JavaScript, and Cloud Foundations. I'm currently finishing up an AWS certification course and will brush up on my Front-end development skills. In September of 2022, I will be going into an internship to gain some real-world experience in the tech field!</p>

<!--   	<h2 class="mt-5">TITLE HEADING</h2>
  	<h5>Title description, Sep 2, 2020</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p>Some text..</p>
  	<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p> -->
<%- include('../partials/footer') %>